# Eclipse project files
.project
.classpath
.settings

# IntelliJ IDEA project files
*.iml
*.ipr
*.iws
.idea/

# Build targets
/target
*/target

# Report directories
/reports
*/reports

# Mac-specific directory
.DS_Store

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.ear
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
